*.o
*.so
*.a
*.dt

Makefile

libthink/libthink.so.*
libthink/thinklang.cpp
libthink/thinklang.h
libthink/thinklang.hpp
libthink/thinklex.cpp

docs/thinksynth.1
etc/thinkrc
src/thinksynth
plugins/plugin-common.mk

configure
config.log
config.status
config.h
config.h.in
build.mk
autom4te.cache
aclocal.m4