#!/usr/bin/make -f
# debian/rules for thinksynth

ifeq ($(DEBUG),1)
debug := --enable-debug
endif

config.status: configure
	sh configure --prefix=/usr --sysconfdir=/etc --mandir=/usr/share/man --with-default-output=alsa $(debug)

build: build-stamp
build-stamp: config.status
	dh_testdir
	$(MAKE)
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
ifneq (,$(wildcard config.status))
	$(MAKE) distclean
endif
	dh_clean

install:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	mkdir -p debian/tmp
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp/
	dh_install --sourcedir=debian/tmp
	# Useless without libiw
	rm debian/thinksynth/usr/lib/thinksynth/plugins/misc/wlan.so

binary-indep:
# Ye olde no-op.

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_makeshlibs
	dh_installdocs
	dh_installchangelogs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_strip
	dh_shlibdeps -ldebian/libthink3/usr/lib
	dh_md5sums
	dh_gencontrol
	dh_builddeb

binary: binary-arch

.PHONY: binary binary-arch binary-indep install build clean
